
<ion-header>
  <ion-toolbar>
    <app-nav-bar titulo="Barra de Navegacion"></app-nav-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Primera fila -->
    <ion-row>
      <ion-col size-xs="12" size-md="6" size-lg="4">
  

        

           
        <!-- Tarjeta 1 -->
        <ion-card  *ngFor="let noticia of noticias">
          <ion-card-header>
            <ion-row>
              <ion-col size-xs="12" size-md="12" size-lg="12">
            {{noticia.titulo}}
            {{noticia.titulo2}}
            {{noticia.titulo3}}

          </ion-col>
          </ion-row>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido de la tarjeta -->
            <ion-row>
              <ion-col size-xs="12" size-md="6" size-lg="6">
                <img [src]=noticia.imagen  >
                <img [src]=noticia.imagen2 >
                <img [src]=noticia.imagen3 class="image">
                        
                 </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="6">
                {{noticia.description}}
                {{noticia.description2}}
                {{noticia.description3}}
                                 </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
        
    </ion-row>
  
 
    <!-- Puedes seguir añadiendo más filas según sea necesario -->
  
  </ion-grid>

</ion-content>